<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="fragments/havbar::navbar"></div>

<input type="hidden" name="id" id="commentId">
<div class="container table-responsive" th:action="@{/comment/all}" th:method="get">
    <table class="table table-success table-striped" th:each="c:${comments}" th:object="${c}">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Name</th>
            <th scope="col">Picture</th>
            <th scope="col">City</th>
            <th scope="col">Address</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row"></th>
            <td th:text="*{title}">Title</td>
            <td>
                <div th:text="*{description}">Description</div>
            </td>
            <td th:text="*{traderName}">Trader name</td>
            <td><img id="picture" th:src="*{getPictureUrl()}" alt="no picture attached"></td>
            <td th:text="*{city}">City</td>
            <td th:text="*{address}">Address</td>
            <td sec:authorize="hasRole('ADMIN')">
                <form th:action="@{api/{id}/delete(id=*{id})}"
                      th:method="post">
                    <div class="d-flex justify-content-center mt-4">
                        <button id="deleteBook" type="submit" class="btn btn-primary btn-block">Delete</button>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <footer th:replace="fragments/footer::footer"></footer>
</div>
<script src="../static/js/app.js"></script>
</body>
</html>